.header {
    height: 100px !important;

}

.border-end {
    min-height: 100vh;
    position: fixed;
    overflow: hidden;
    width: fit-content;

}

.imgSideBar {
    display: flex;
    align-items: center;
    width: 30%;
    text-decoration: none;
    font-size: 20px;
}

.bodySideBar::-webkit-scrollbar {
    display: none;
}

.linksidebar {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
}

.smallscreen {
    display: none;
}

.closebtn {
    position: absolute;
    left: 220px;
    top: 10px;
    z-index: 5;
}

.smallsideBar {
    width: 200px;
}

.smallheader {
    height: max-content;
    text-decoration: none;
}

.smallimg {
    text-decoration: none;
    align-items: center;
    display: flex;

}

.smallimg img {
    width: 50px;
}

.smallside {
    align-items: center;
}

.smallsideBar:hover {
    align-items: none;
    width: max-content;
}

.smallside .nav-group-toggle::after {
    display: none;
}

.smallside:hover .nav-group-toggle::after {
    display: block;

}


.smallside::-webkit-scrollbar {
    display: none;
}

.sidebarF {
    margin-left: 0% !important;
}


@media screen and (max-width :837px) {
    .border-end {
        display: none
    }

    ;

}