.BodyBox {
  background-color: var(--backbody);
  padding: 0px 50px 0px 30px;
  min-height: 100vh;
}

.Body-header {
  display: flex;
  justify-content: space-between;
}

.Body-header a {
  text-decoration: none;
  background-color: var(--BackBtnAjout);
  color: var(--Btntexte);
  width: 150px;
  height: 30px;
  text-align: center;

}

.Body-header input {
  width: 400px;
  border: none;
  height: 40px;

}

input:focus {
  outline: none;
  /* Supprime l'outline */
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;

}

.search-input {
  padding-right: 30px;
  /* Ajoutez un padding à droite pour laisser de l'espace pour l'icône */
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  /* Couleur de l'icône */
  cursor: pointer;

}

.body {
  background-color: white;
  min-height: 80vh;
  border-radius: 10px;
}
