:root {
    --backSideBar: #191919;
    --SideBartext:#989898;
    --BackdropDown:#353535;
    --BackhoverDropDown:#56c7fc6a;
    --hovertextDropDown:#56c7fc;
    --BtnRouge:#f96767;
    --BackBtnAjout: #4c5ce9;
    --Btntexte: #fefefe;
    --titre:#000000;
    --blanc:#fff;
    --backbody:#eaebf0;
    --vert:#a8C813;
    --bleupage:#5856d6;
    /* Ajoutez d'autres variables au besoin */
  }
  