@import 'Color.css';

.sidebar {
    width: 230px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--backSideBar);
    transition: width 0.3s ease;

}

.sidebar-header {
    height: 200px;
}

.logo {
    width: 70%;
    margin: 30px;
}

ul {
    list-style-type: none;
    padding: 0px 20px;
}
.linkicon{
    display: flex;
    align-items: center;
}
.linkicon :nth-child(2){
  color: var(--SideBartext);
}
.linkicon :nth-child(2):hover{
    color: var(--blanc);
  }
.ulLink li {
    padding: 5px;
}

.ulLink a {
    text-decoration: none;
    color: var(--SideBartext);
    margin: 0;
}


.dropdown {
    background-color: var(--BackdropDown);
    padding: 5px;
    border-radius: 2px;

}

.scrollable {
    max-height: 100px;
    /* Ajustez la hauteur maximale selon vos besoins */
    overflow-y: scroll;
    /* Active le défilement vertical si nécessaire */
}

.scrollable::-webkit-scrollbar {
    display: none;
}


.dropdown li {
    color: var(--SideBartext);
    font-size: 15px;
   

}

.dropDownA:hover {
    color: var(--hovertextDropDown);
    width: 100%;
    height: 100%;
}

.dropDownli:hover {
    background-color: var(--BackhoverDropDown) !important;
    color: var(--hovertextDropDown);
}


.tableBord {
    font-size: 15px;
    color: var(--SideBartext);
    margin-left: 20px;
}

.sidebar-footer {
    position: fixed;
    top: 550px;
}

.ulFooter li {
    padding: 5px;
}

.ulFooter a {
    text-decoration: none;
    color: var(--SideBartext);
}

.btnDecon {
    margin: 20px;
    width: 150px;
    height: 30px;
    background-color: var(--BtnRouge);
    border-radius: 2px;
    text-align: center;

}

.btnDecon  {
    text-decoration: none;
    color: var(--Btntexte);
    text-align: center;
}
.btnDecon:hover{
    color: var(--backSideBar);
    background-color: var(--backbody)
}